
@media (min-width: 775px) {
article {
    width: 800px;
    float: left;
    padding-left: 25px;
} }


h1 {
    color: #553D36;
    font-family: 'Lobster', cursive;
}

@media (min-width: 775px) {
header {
    color: #AF9164;
    padding-left: 25px;
    margin-bottom: 200px;
    width: 800px;
}}

h2 {
    color: #684A52;
    font-family: 'Lobster', cursive;

}

h3 {
    color: #684A52;
    font-family: 'Lobster', cursive;
}

p {
    color: black;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
}

li {
    color: black;
    font-family: 'Jost', sans-serif;
    margin-bottom: 7px;
}

.Links {
    color: #B3B6B7;
    font-family: 'Jost', sans-serif;
    border-top: 5px solid #AF9164;
    border-bottom: 5px solid #AF9164;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100px;
    float: right;
    align-items: stretch;

}
@media (min-width: 775px) {

.Gabriela {
    float: left;
    border-radius: 70px;
}

.description {
    padding-left: 210px;
}

.interesses {
    border-radius: 50px;
    background-color: #AF9164;
    padding: 4px;
}
.linguagens {
    border-radius: 40px;
    background-color: #AF9164;
    padding: 4px;
}
.Hobbies {
    border-radius: 40px;
    background-color: #AF9164;
    padding: 4px;
}
}